.addUser {
  background-color: white;
  width: 400px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  border-radius: 5px;
  padding: 50px;
  margin: auto;
  margin-top: 20px;
}
.addUser > a > i {
  font-size: 30px;
}
.addUser > form {
  width: 100%;
  margin-top: 30px;
  border-radius: 2px;
  border-color: white;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.addUser > form > h3 {
  font-size: 22px;
  font-weight: 600;
}

.inputGroup > input {
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inputGroup > button {
  border: 0;
  outline: none;
  background-color: #3498db;
  color: white;
  font-weight: 600;
  padding: 13px;
  cursor: pointer;
  border-radius: 5px;
}
@media (max-width: 463px) {
  .addUser > form > h3 {
    font-size: 20px;
  }
  .addUser{
    width: 350px;
  }
  .inputGroup > button {
    padding: 11px;
  }
}
@media (max-width: 372px) {
  .addUser{
    width: 320px;
  }
}
