.userTable {
  background-color: #fff; /* Light grey background */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
  margin: 20px auto;
  max-width: 800px;
}

.addButton {
  background-color: #3498db; /* Blue */
  color: white;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;

  transition: background-color 0.3s ease;
}
.addButton:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

.userTable table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}
.table-header {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
}
.table-header > h3,
span {
  font-size: 23px;
  font-weight: 600;
}
.table-header > h3 > span {
  color: #e74c3c;
}
th {
  background-color: #2c3e50; /* Dark blue */
  color: white;
  padding: 14px;
  text-align: center;
  border: 1px solid #2c3e50; /* Consistent border */
}

td {
  padding: 14px;
  text-align: center;
  border: 1px solid #dddddd; /* Light grey border */
  color: #333333; /* Dark grey text */
}

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.actionButtons button,
.actionButtons #editButton {
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 11px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s ease;
}

.actionButtons button {
  background-color: #e74c3c; /* Red */
}

.actionButtons button:hover {
  background-color: #c0392b; /* Darker red on hover */
}

.actionButtons #editButton {
  background-color: #27ae60; /* Green */
}

.actionButtons #editButton:hover {
  background-color: #2ecc71; /* Darker green on hover */
}

@media (max-width: 768px) {
  .userTable {
    padding: 20px;
    margin: 10px;
  }

  th,
  td {
    padding: 12px;
  }

  .actionButtons {
    gap: 8px;
  }

  .actionButtons button,
  .actionButtons #editButton {
    padding: 12px 12px;
  }
  .table-header {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .userTable {
    padding: 10px;
    margin: 10px;
  }

  th,
  td {
    padding: 10px;
    font-size: 12px;
  }

  .actionButtons {
    flex-direction: column;
    gap: 5px;
  }

  .actionButtons button,
  .actionButtons #editButton {
    font-size: 12px;
    padding: 10px 10px;
    width: 100%;
  }
}

.quote {
  color: #4e1d61; /* Purple */
  font-family: cursive;
  background-color: #f8f9f9; /* Light grey background */
}

.loader {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}
.loader > img {
  width: 280px;
}
.loader > p {
  font-size: 25px;
}
